@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #310f31;
	font-family: 'Poppins', sans-serif;
}

.box 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	position: absolute;
	width: 380px;
	height: 420px;
	animation: animate 6s linear infinite;
	background-image: conic-gradient(#8B008B, transparent, transparent 180deg, #8B008B, transparent, transparent 360deg);	
}

@keyframes animate 
{
	0%
	{
		transform: scale(2) rotate(0deg);
	}
	100%
	{
		transform: scale(2) rotate(360deg);
	}
}
.form 
{
	position: absolute;
	inset: 5px;
	border-radius: 8px;
	background: #28292d;
	z-index: 10;
	padding: 50px 40px;
	display: flex;
	flex-direction: column;
}
.form h2 
{
	color: #8B008B;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	z-index: 10;
}
.inputBox label 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ label,
.inputBox input:focus ~ label 
{
	color: #8B008B;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox span
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #8B008B;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #c290c2;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #8B008B;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}